# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Uploaded images
uploads/*
!uploads/.gitkeep

# Environment variables
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# TensorFlow cache
.keras/